//Color List
$__color--primary:   #3d1607;
$__color--secondary: #212121;
$__color--accent:    #233121;
$__color--success:   #2b9535;
$__color--failure:   #2b9535;
$__color--alert:     #2b9535;
$__color--warning:   #2b9535;
$__color--notify:    #2b9535;
$__color--gray:      #cccccc;
$__color--white:     #ffffff;
$__color--black:     #000000;


