* {
	box-sizing:border-box;
}

html,
body {
	// font-family:$__font-family--primary;
	font-size:18px;
	// color:$__color--secondary;
}

section {
	padding-top:60px;
	padding-bottom:60px;
	padding-left:20px;
	padding-right:20px;
}

a {
	// color:$__color--primary;
}

p {
	line-height:1.75;
	margin-bottom:20px;
}

h1 {
	// font-family:$__font-family--secondary;
	font-size:56px;
	margin-bottom:20px;
	// line-height:1;
}

h2 {
	// font-family:$__font-family--primary;
	font-size:42px;
	margin-bottom:20px;
}

h3 {
	// font-family:$__font-family--primary;
	font-size:34px;
	// font-weight:$__font-weight--bold;
	margin-bottom:20px;
}

h4 {
	// font-family:$__font-family--primary;
	font-size:24px;
	// font-weight:$__font-weight--semibold;
}