@import url("https://use.typekit.net/kab6rja.css");

$--font-family-primary: 'titillium-web';


//Font Weights
$__font-weight--light:     300;
$__font-weight--regular:   400;
$__font-weight--semibold:  600;
$__font-weight--bold:      700;

//Font Sizes
$__font-size--base:       16px;





