$__map--headings: (
	xxxsmall: (
		h1: (
			font-size:rem(22px),
		),
		h2: (
			font-size:rem(20px),
		),
		h3: (
			font-size:rem(19px),
		),
		h4: (
			font-size:rem(18px),
		),
		h5: (
			font-size:rem(17px),
		),
		h6: (
			font-size:rem(16px),
		),
	),
	xxsmall: (
		h1: (
			font-size:rem(22px),
		),
		h2: (
			font-size:rem(20px),
		),
		h3: (
			font-size:rem(19px),
		),
		h4: (
			font-size:rem(18px),
		),
		h5: (
			font-size:rem(17px),
		),
		h6: (
			font-size:rem(16px),
		),
	),
	xsmall: (
		h1: (
			font-size:rem(22px),
		),
		h2: (
			font-size:rem(20px),
		),
		h3: (
			font-size:rem(19px),
		),
		h4: (
			font-size:rem(18px),
		),
		h5: (
			font-size:rem(17px),
		),
		h6: (
			font-size:rem(16px),
		),
	),
	small: (
		h1: (
			font-size:rem(22px),
		),
		h2: (
			font-size:rem(20px),
		),
		h3: (
			font-size:rem(19px),
		),
		h4: (
			font-size:rem(18px),
		),
		h5: (
			font-size:rem(17px),
		),
		h6: (
			font-size:rem(16px),
		),
	),
	medium: (
		h1: (
			font-size:rem(48px),
		),
		h2: (
			font-size:rem(40px),
		),
		h3: (
			font-size:rem(31px),
		),
		h4: (
			font-size:rem(25px),
		),
		h5: (
			font-size:rem(20px),
		),
		h6: (
			font-size:rem(16px),
		),
	),
	large: (
		h1: (
			font-size:rem(48px),
		),
		h2: (
			font-size:rem(40px),
		),
		h3: (
			font-size:rem(31px),
		),
		h4: (
			font-size:rem(25px),
		),
		h5: (
			font-size:rem(20px),
		),
		h6: (
			font-size:rem(16px),
		),
	),
	xlarge: (
		h1: (
			font-size:rem(48px),
		),
		h2: (
			font-size:rem(40px),
		),
		h3: (
			font-size:rem(31px),
		),
		h4: (
			font-size:rem(25px),
		),
		h5: (
			font-size:rem(20px),
		),
		h6: (
			font-size:rem(16px),
		),
	),
	xxlarge: (
		h1: (
			font-size:rem(48px),
		),
		h2: (
			font-size:rem(40px),
		),
		h3: (
			font-size:rem(31px),
		),
		h4: (
			font-size:rem(25px),
		),
		h5: (
			font-size:rem(20px),
		),
		h6: (
			font-size:rem(16px),
		),
	),
	xxxlarge: (
		h1: (
			font-size:rem(48px),
		),
		h2: (
			font-size:rem(40px),
		),
		h3: (
			font-size:rem(31px),
		),
		h4: (
			font-size:rem(25px),
		),
		h5: (
			font-size:rem(20px),
		),
		h6: (
			font-size:rem(16px),
		),
	),
);